.toolbar{
    .npm-btn{
        position: absolute;
        right: 0;
    }
}
.example-card {
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    top: 5em;
    .example-header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
    }
}

.test-header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media only screen and (min-width: 701px) {
    .test-header{
        h1{
            color: rgb(0, 153, 255);
        }
        p{
            color: rgb(255, 187, 0);
        }
    }
}

@media only screen and (max-width: 700px) {
    .test-header{
        h1{
            color: rgb(255, 187, 0);
        }
        p{
            color:rgb(0, 153, 255);
        }
    }
} 