<mat-toolbar color="primary" class="toolbar">
  <h1 class="title">{{ title }}</h1>
  <a mat-button class="npm-btn" href="https://www.npmjs.com/package/element-printer" target="_blank">Element-Printer v0.0.3</a>
</mat-toolbar>

<!-- <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card> -->

<h1 class="test-header" id="toPrint">Test Element</h1>

<el-printer containerToPrint="toPrint"></el-printer>


<router-outlet></router-outlet>
