<mat-toolbar color="primary" class="toolbar">
  <h1 class="title">{{ title }}</h1>
  <a mat-button class="npm-btn" href="https://www.npmjs.com/package/element-printer" target="_blank">Element-Printer v1.0.4</a>
</mat-toolbar>

<mat-card class="example-card" id="toPrint">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<!-- <header class="test-header" id="toPrint">
  <h1>Test Element</h1>
  <p>Happy boy :)</p>
  <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" style="width:200px; height:200px; border: 
  solid 2px black;">
</header> -->

<el-printer containerToPrint="toPrint" [enableDebug]="true"></el-printer>


<router-outlet></router-outlet>
